<main ng-cloak>
  <div class="row">
    <div class="col s3" ng-controller="categoryController as categoryCtrl">
      <select class="browser-default" ng-model="category" ng-options="name for name in categoryCtrl.categories" ng-change="">{{name}}</select>
    </div>
    <div class="col s3">
      <input type="text" ng-model="search" placeholder="Search">
    </div>
    <div class="col s3">
      <select class="browser-default" ng-model="sortBy">
        <option value="-price">Price High</option>
        <option value="price">Price Low</option>
      </select>
    </div>
    <div class="col s3" ng-controller="addController as addCtrl">
      <a href="/#/cart" class="btn">Cart | {{addCtrl.cart.length}}</a>
    </div>
    <table class="bordered">
      <tr>
        <th>Tea</th>
        <th>Information</th>
      </tr>
      <tr ng-repeat="item in mainCtrl.products | orderBy:sortBy | filter: search">
        <td><img ng-src="{{item.imageUrl}}"></td>
        <td>
          <h4>{{item.name}}</h4>
          <p><big>Ingredients: </big>{{item.ingredients}}</p>
          <p><big>Caffeine Scale: </big>{{item.caffeineScale}}</p>
          <p><big>Price: </big>${{item.price | currencyFn}}</p>
          <p><big>In Stock: </big>
            <span ng-if="item.inStock===true">Yes</span>
            <span ng-if="item.inStock===false">No</span>
          </p>
          <p><big>Rating: </big>{{item.rating}}</p>
          <p><big>Categories: </big>
            <ul>
              <li ng-repeat="category in item.categories">{{category}}</li>
            </ul>
          </p>
          <div ng-controller="addController as addCtrl">
            <div class="row">
              <p>Amount</p>
              <select class="browser-default col s3" ng-model="data" type="number" name="quantity" ng-init="data='1'">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
              <button ng-click="addCtrl.add({tea: item, quantity: data})">Add to Cart</button>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</main>
